.countdownBox {
    width: 100px;
    height: 300px;
    position: relative;
    margin: 0px auto;
}

.timeElapsed {
    height: 100%;
    width: 100%;
    background-color: #D9D9D9;
    bottom: 0px;
    position: absolute;
}